
@-webkit-keyframes fade-in {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes fade-in {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@keyframes fade-out {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@-webkit-keyframes in-up {
	0% {
		transform: translate3d(0, 100%, 0)
	}
	100% {
		transform: translate3d(0, 0, 0)
	}
}

@keyframes in-up {
	0% {
		transform: translate3d(0, 100%, 0)
	}
	100% {
		transform: translate3d(0, 0, 0)
	}
}

@-webkit-keyframes in-down {
	0% {
		transform: translate3d(0, -100%, 0)
	}
	100% {
		transform: translate3d(0, 0, 0)
	}
}

@keyframes in-down {
	0% {
		transform: translate3d(0, -100%, 0)
	}
	100% {
		transform: translate3d(0, 0, 0)
	}
}

@-webkit-keyframes out-up {
	0% {
		transform: translate3d(0, 0, 0)
	}
	100% {
		transform: translate3d(0, 100%, 0)
	}
}

@keyframes out-up {
	0% {
		transform: translate3d(0, 0, 0)
	}
	100% {
		transform: translate3d(0, 100%, 0)
	}
}

@-webkit-keyframes out-down {
	0% {
		transform: translate3d(0, 0, 0)
	}
	100% {
		transform: translate3d(0, -100%, 0)
	}
}

@keyframes out-down {
	0% {
		transform: translate3d(0, 0, 0)
	}
	100% {
		transform: translate3d(0, -100%, 0)
	}
}

.fade-in,
.animate-fade-in {
	opacity: 0;
	-webkit-animation: fade-in ease-in 1;
	-moz-animation: fade-in ease-in 1;
	animation: fade-in ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 0.75s;
	-moz-animation-duration: 0.75s;
	animation-duration: 0.75s
}

.animate-fade-out {
	-webkit-animation: fade-out ease-out 1;
	-moz-animation: fade-out ease-out 1;
	animation: fade-out ease-out 1;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.75s;
	-moz-animation-duration: 0.75s;
	animation-duration: 0.75s
}

.animate-in-down {
	-webkit-animation: in-down ease-out 1;
	-moz-animation: in-down ease-out 1;
	animation: in-down ease-out 1;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s
}

.animate-in-up {
	-webkit-animation: in-up ease-out 1;
	-moz-animation: in-up ease-out 1;
	animation: in-up ease-out 1;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s
}

.animate-out-down {
	-webkit-animation: out-down ease-in 1;
	-moz-animation: out-down ease-in 1;
	animation: out-down ease-in 1;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s
}

.animate-out-up {
	-webkit-animation: out-up ease-in 1;
	-moz-animation: out-up ease-in 1;
	animation: out-up ease-in 1;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s
}